<app-header
  [isDarkMode]="isDarkMode"
  [isSidebarVisible]="isSidebarVisible"
  (toggleSidebarEvent)="onToggleSidebar()">
</app-header>

<div class="container">
  <app-sidebar
    [pairs]="availablePairs"
    [selectedPairs]="selectedPairs"
    [ngClass]="{'hidden': !isSidebarVisible}"
    (togglePairSelection)="togglePair($event)"
    (transitionend)="onSidebarTransitionEnd($event)"
  >
  </app-sidebar>

  <div
    class="main-content"
    [ngStyle]="{'grid-template-rows': getGridTemplateRows()}"
  >
    <div *ngFor="let pair of selectedPairs">
      <app-chart [pair]="pair"></app-chart>
    </div>
  </div>
</div>
