<!-- src/app/components/login/login.component.html -->
<div class="page">
  <div class="container" [ngClass]="{'right-panel-active': isSignUp}">
    <!-- Sign Up Form -->
    <div class="form-container sign-up-container">
      <form (ngSubmit)="onSignUpSubmit()" #signUpForm="ngForm">
        <h1>Create Account</h1>
        <div class="social-container">
          <a (click)="loginWithFacebook()" class="social"><i class="fab fa-facebook-f"></i></a>
          <a (click)="loginWithGoogle()" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your email for registration</span>
        <input
          type="text"
          placeholder="Name"
          required
          [(ngModel)]="signupName"
          name="signupName"
        />
        <input
          type="email"
          placeholder="Email"
          required
          [(ngModel)]="signupEmail"
          name="signupEmail"
        />
        <input
          type="password"
          placeholder="Password"
          required
          [(ngModel)]="signupPassword"
          name="signupPassword"
        />
        <button [disabled]="signUpForm.invalid">Sign Up</button>
      </form>
    </div>

    <!-- Sign In Form -->
    <div class="form-container sign-in-container">
      <form (ngSubmit)="onSignInSubmit()" #signInForm="ngForm">
        <h1>Sign in</h1>
        <div class="social-container">
          <a (click)="loginWithFacebook()" class="social"><i class="fab fa-facebook-f"></i></a>
          <a (click)="loginWithGoogle()" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your account</span>
        <input
          type="email"
          placeholder="Email"
          required
          [(ngModel)]="username"
          name="username"
        />
        <input
          type="password"
          placeholder="Password"
          required
          [(ngModel)]="password"
          name="password"
        />
        <a href="#">Forgot your password?</a>
        <button [disabled]="signInForm.invalid">Sign In</button>
        <div *ngIf="loginFailed" class="error">
          Invalid username or password.
        </div>
      </form>
    </div>

    <!-- Overlay Panels -->
    <div class="overlay-container">
      <div class="overlay">
        <!-- Overlay for Sign In -->
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" (click)="onSignInClick()">Sign In</button>
        </div>
        <!-- Overlay for Sign Up -->
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start your journey with us</p>
          <button class="ghost" (click)="onSignUpClick()">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</div>
