<div class="page">
  <div
    class="container"
    [ngClass]="{
      'right-panel-active': isSignUp,
      'password-reset-active': isPasswordReset || isPasswordResetConfirm
    }"
  >
    <!-- Sign In Form -->
    <div class="form-container sign-in-container">
      <form (ngSubmit)="onSignInSubmit()" #signInForm="ngForm">
        <h1>Sign in</h1>
        <div class="social-container">
          <a (click)="loginWithFacebook()" class="social">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a (click)="loginWithGoogle()" class="social">
            <i class="fab fa-google-plus-g"></i>
          </a>
          <a class="social">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
        <span>or use your account</span>
        <input
          type="email"
          placeholder="Email"
          required
          [(ngModel)]="username"
          name="username"
        />
        <input
          type="password"
          placeholder="Password"
          required
          [(ngModel)]="password"
          name="password"
        />
        <a (click)="onForgotPassword()" style="cursor: pointer;">Forgot your password?</a>
        <button [disabled]="signInForm.invalid">Sign In</button>
        <div *ngIf="loginError" class="error">
          {{ loginError }}
        </div>
        <div *ngIf="loginSuccessMessage" class="success">
          {{ loginSuccessMessage }}
        </div>
      </form>
    </div>

    <!-- Sign Up Form -->
    <div class="form-container sign-up-container">
      <form (ngSubmit)="onSignUpSubmit()" #signUpForm="ngForm">
        <h1>Create Account</h1>
        <div class="social-container">
          <a (click)="loginWithFacebook()" class="social">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a (click)="loginWithGoogle()" class="social">
            <i class="fab fa-google-plus-g"></i>
          </a>
          <a class="social">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
        <span>or use your email for registration</span>
        <input
          type="text"
          placeholder="Name"
          required
          [(ngModel)]="signupName"
          name="signupName"
        />
        <input
          type="email"
          placeholder="Email"
          required
          [(ngModel)]="signupEmail"
          name="signupEmail"
        />
        <input
          type="password"
          placeholder="Password"
          required
          [(ngModel)]="signupPassword"
          name="signupPassword"
        />
        <button [disabled]="signUpForm.invalid">Sign Up</button>
        <div *ngIf="signupError" class="error">
          {{ signupError }}
        </div>
        <div *ngIf="signupSuccessMessage" class="success">
          {{ signupSuccessMessage }}
        </div>
      </form>
    </div>

    <!-- Password Reset Form -->
    <div
      class="form-container password-reset-container"
      *ngIf="isPasswordReset && !isPasswordResetConfirm"
    >
      <form
        (ngSubmit)="onPasswordResetSubmit($event)"
        #passwordResetForm="ngForm"
      >
        <h1>Reset Password</h1>
        <span>Enter your email address to reset your password</span>
        <input
          type="email"
          placeholder="Email"
          required
          [(ngModel)]="resetEmail"
          name="resetEmail"
        />
        <button type="submit" [disabled]="passwordResetForm.invalid">
          Reset Password
        </button>
        <a (click)="onSignInClick()" style="cursor: pointer;">Back to Sign In</a>
        <div *ngIf="resetMessage" class="success">
          {{ resetMessage }}
        </div>
        <div *ngIf="resetError" class="error">
          {{ resetError }}
        </div>
      </form>
    </div>

    <!-- Password Reset Confirmation Form -->
    <div
      class="form-container password-reset-confirm-container"
      *ngIf="isPasswordResetConfirm"
    >
      <form
        (ngSubmit)="onPasswordResetConfirmSubmit()"
        #passwordResetConfirmForm="ngForm"
        *ngIf="!resetConfirmMessage"
      >
        <h1>Set New Password</h1>
        <span>Please enter your new password</span>
        <input
          type="password"
          placeholder="New Password"
          required
          [(ngModel)]="newPassword"
          name="newPassword"
        />
        <input
          type="password"
          placeholder="Confirm Password"
          required
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
        />
        <button type="submit" [disabled]="passwordResetConfirmForm.invalid">
          Reset Password
        </button>
        <div *ngIf="resetConfirmError" class="error">
          {{ resetConfirmError }}
        </div>
      </form>
      <div *ngIf="resetConfirmMessage" class="success">
        {{ resetConfirmMessage }}
      </div>
    </div>

    <!-- Email Verification Message -->
    <div
      class="form-container verification-container"
      *ngIf="verificationMessage || verificationError"
    >
      <form>
        <h1>Email Verification</h1>
        <div *ngIf="verificationMessage" class="success">
          {{ verificationMessage }}
        </div>
        <div *ngIf="verificationError" class="error">
          {{ verificationError }}
        </div>
        <button (click)="onSignInClick()">Go to Sign In</button>
      </form>
    </div>

    <!-- Overlay Panels -->
    <div class="overlay-container">
      <div class="overlay">
        <!-- Overlay for Sign Up -->
        <div
          class="overlay-panel overlay-right"
          *ngIf="
            !isSignUp &&
            !isPasswordReset &&
            !isPasswordResetConfirm &&
            !verificationMessage &&
            !verificationError
          "
        >
          <h1>Hello, Friend!</h1>
          <p>Don't have an account yet? Sign up now!</p>
          <button class="ghost" (click)="onSignUpClick()">Sign Up</button>
        </div>
        <!-- Overlay for Sign In -->
        <div
          class="overlay-panel overlay-left"
          *ngIf="
            isSignUp &&
            !isPasswordReset &&
            !isPasswordResetConfirm &&
            !verificationMessage &&
            !verificationError
          "
        >
          <h1>Welcome Back!</h1>
          <p>Already have an account? Sign in here!</p>
          <button class="ghost" (click)="onSignInClick()">Sign In</button>
        </div>
        <!-- Overlay for Password Reset -->
        <div
          class="overlay-panel overlay-left"
          *ngIf="
            isPasswordReset ||
            isPasswordResetConfirm ||
            verificationMessage ||
            verificationError
          "
        >
          <h1>Need to Sign In?</h1>
          <p>Return to the sign-in page to access your account.</p>
          <button class="ghost" (click)="onSignInClick()">Back to Sign In</button>
        </div>
      </div>
    </div>
  </div>
</div>
