/* src/styles.css */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Define CSS Variables for Light and Dark Themes */
:root {
    /* Light Theme Colors */
    --color-background: #f5f5f5;
    --color-text: #333333;
    --color-header-bg: #f5f5f5;
    --color-header-text: #333333;
    /* Black */
    --color-sidebar-bg: #f0f0f0;
    --color-sidebar-text: #333333;
    --color-sidebar-hover: #ddd;
    --color-main-bg: #ffffff;
    --color-main-text: #333333;
    --color-chart-bg: #fafafa;
    --color-chart-border: #ccc;
    --color-button-hover: #4caf50;
    /* Sidebar Width Variables */
    --sidebar-width: 150px;
    /* Reduced from 200px */
    --sidebar-width-medium: 130px;
    /* Reduced from 180px */
    --sidebar-width-small: 100px;
    /* Reduced from 150px */
}

body.dark-mode {
    /* Dark Theme Colors */
    --color-background: #121212;
    --color-text: #e0e0e0;
    --color-header-bg: #2c2c2c;
    --color-header-text: #ffffff;
    /* White */
    --color-sidebar-bg: #3c3c3c;
    --color-sidebar-text: #e0e0e0;
    --color-sidebar-hover: #555;
    --color-main-bg: #1e1e1e;
    --color-main-text: #e0e0e0;
    --color-chart-bg: #2c2c2c;
    --color-chart-border: #555;
    --color-button-hover: #4caf50;
    /* Sidebar Width Variables for Dark Mode */
    --sidebar-width: 150px;
    /* Ensure consistency with light mode */
    --sidebar-width-medium: 130px;
    /* Reduced from 180px */
    --sidebar-width-small: 100px;
    /* Reduced from 150px */
}

/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-background);
    color: var(--color-text);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Additional global styles here */