:root {
    /* Existing variables */
    --purple: #690690;
    --green: #069069;
    --light-green: #90ee90;
    --dark-green: #006400;
    --yellow: #999900;
    --red: #960420;
    --blue: #420ffe;
    --dark-red: #420420;
    --white: #ffeffe;
    --grey: #666666;
    --black: #000000;

    /* Global Colors */
    --background: var(--black);
    --text-color: var(--white);
    --color-header-bg: var(--blue);
    --color-header-text: var(--white);

    /* Chart Colors */
    --color-chart-bg: var(--black);
    --color-chart-frame: var(--white);
    --color-chart-text: var(--white);
    --color-grid-lines: #555;

    /* Candlestick Colors */
    --chart-candle-up-color: #4caf50;
    --chart-candle-down-color: #f44336;
    --chart-candle-border-up-color: #4caf50;
    --chart-candle-border-down-color: #f44336;
    --chart-candle-wick-up-color: #4caf50;
    --chart-candle-wick-down-color: #f44336;

    /* Gradient for the overlay background */
    --login-bg-gradient: linear-gradient(90deg, var(--purple) 0%, var(--blue) 100%);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    color: var(--text-color);
}