/* When visible, the sidebar occupies a fixed width */
.sidebar {
    background-color: var(--background);
    color: var(--white);
    padding-top: 20px;
    transition: width 0.3s ease, padding 0.3s ease;
    overflow: hidden;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

/* When hidden, collapse the width and remove padding */
.sidebar.hidden {
    width: 0;
    box-shadow: none;
}

.pair-selector {
    padding: 15px 20px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pair-selector:hover {
    background-color: var(--green);
}

.pair-selector.selected {
    background-color: var(--green);
    box-shadow: inset 0 0 10px var(--light-green);
    border-left: 5px solid var(--green);
}